<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for(var i=0; i < results.length; i++) {%>
    <div>
            <label for="namegiven">Name:</label><li><%= results[i].name %></li>
            <label for="emailgiven">Email:</label><li><%= results[i].email %></li>
            <label for="descriptiongiven">Description:</label><li><%= results[i].description %></li>
            <label for="optiongiven">Why they were here:</label><li><%= results[i].dropdown %></li>
    </div>
    <% } %>
  </body>
</html>
